{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ product.libelle }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ product.descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
		 
        <li>
            <a href="{{ path('category_index') }}">Back tohome</a>
        </li>
        
     
        
    </ul>
{% endblock %}
